$color-white: #ffffff;
$color-black: #000000;
$color-gray: #858585;
.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
  &__item {
    width: 25%;
    &__top {
      display: flex;
      position: relative;
      flex-direction: column;
      img {
        height: 100%;
        width: 100%;

        &:nth-child(2) {
          display: none;
        }
      }
      &:hover img:nth-child(1) {
        display: none;
      }
      &:hover img:nth-child(2) {
        animation: flash 0.3s ease-in;
        display: block;
      }

      &__color {
        display: flex;
        position: absolute;
        bottom: 8%;
        right: 10%;
        z-index: 10;
        li {
          height: 12px;
          width: 12px;
          margin: 2px;
          // background-color: #000000;
          list-style: none;
        }
      }
    }
    &__bottom {
      &__name {
        font-size: 16px;
        text-transform: uppercase;
        color: $color-gray;
      }
      &__price {
        font-size: 18px;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .products {
    &__item {
      width: 50%;
    }
  }
}
