$color-white: #ffffff;
$color-black: #000000;
$color-gray: #858585;

@mixin line() {
  border: 1px solid #f0f0f0;
  box-shadow: 0 3px 6px rgba(150, 149, 149, 0.16);
}

@mixin line-hover() {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  margin-bottom: 4px;
  background-color: $color-gray;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header {
  display: block;
  position: relative;
  width: 100%;
  z-index: 100;
  color: $color-white;
  overflow: visible;

  &__banner {
    display: flex;
    height: 37px;
    background-color: $color-black;
    line-height: 37px;
    padding: 0 40px;

    p {
      font-size: 10px;
      color: $color-white;
    }
    i {
      line-height: 37px;
      font-size: 10px;
      padding: 0 3px;
    }
    &-left {
      flex: 1;
      display: flex;
      text-align: left;
    }
    &-right {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      a {
        color: $color-white;
        font-size: 10px;
        margin-right: 12px;
      }
      i {
        font-size: 7px;
      }
    }
  }
  &__top {
    display: flex;
    height: 70px;
    background-color: $color-white;
    @include line();

    &--left {
      flex: 1;
    }
    &--center {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--right {
      flex: 1;
      line-height: 70px;

      i {
        color: $color-black;
      }
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 85px;
        margin-right: 20px;

        & > *:hover {
          animation: pulse 0.4s;
          animation-timing-function: linear;
          font-family: SVNFuturaRegular;
          cursor: pointer;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    height: 50px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    padding: 0 15px;

    @include line();

    &__item {
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
      height: 100%;
      &--after {
        @include line-hover();
      }
      i {
        font-size: 10px;
      }

      &:hover i {
        animation: translateText 0.8s infinite;
        animation-timing-function: ease-in-out;
      }
      &:hover > &--after {
        transform: scaleX(1);
      }

      &:hover > &__second {
        display: block;
      }

      &__second {
        display: none;
        padding: 0;
        text-align: start;
        position: absolute;
        list-style: none;
        top: 0;
        margin: 50px;
        margin-left: -10px;
        min-width: 160px;
        background-color: $color-white;
        z-index: 100;

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        // box-shadow: 0 3px 6px rgba(150, 149, 149, 0.16);

        li {
          position: relative;
          padding: 12px 10px;

          > i {
            margin-right: 10px;
            float: right;
          }
          &:hover > .line {
            transform: scaleX(0.9);
          }
          // &:hover > &__second {
          //   display: block;
          // }
        }
      }
    }
  }
}
.line {
  @include line-hover();
}
.iq {
  position: relative;
  &__quality {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #47474c;

    text-align: center;
    color: $color-white;

    top: 46%;
    left: 8px;
    p {
      font-size: 12px;
      color: $color-white;
      margin-bottom: 2px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes translateText {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(1.5px);
  }
}
