$color-white: #ffffff;
$color-black: #000000;

@font-face {
  font-family: SVNFuturaLight;
  src: url("./fonts/00294-SFUFuturaLight.TTF");
}
@font-face {
  font-family: SVNFuturaBold;
  src: url("./fonts/SFUFuturaBold.TTF");
}
@font-face {
  font-family: SVNFuturaRegular;
  src: url("./fonts/SFUFuturaRegular.TTF");
}
@font-face {
  font-family: SVNFuturaHeavy;
  src: url("./fonts/SFUFuturaHeavy.TTF");
}
i {
  color: $color-white;
}

* {
  font-family: SVNFuturaLight;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0;
  word-spacing: 0px;
  text-decoration: none;
  color: $color-black;
}

@media screen and (max-width: 1200px) {
  .header__bottom {
    display: none;
  }
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 480px) {
  * {
    font-size: 11px !important;
  }
}
